numpy
astropy
Cython
ref_index
psutil
sphinx-automodapi
keckdrpframework @ git+https://github.com/Keck-DataReductionPipelines/KeckDRPFramework.git
kcwidrp @ git+https://github.com/Keck-DataReductionPipelines/KCWI_DRP.git
