numpy
astropy
Cython
ref_index
psutil
-e git://github.com/Keck-DataReductionPipelines/KeckDRPFramework.git#egg=keckdrpframework
-e git://github.com/Keck-DataReductionPipelines/KCWI_DRP.git#egg=kcwidrp